h2 {
  margin: 0;
  padding-top: 1rem;
}

article {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: .3px .5px .7px hsl(var(--shadow-color)/.28),.8px 1.6px 2px -.8px hsl(var(--shadow-color)/.28),1.9px 3.8px 4.8px -1.6px hsl(var(--shadow-color)/.29),4.5px 9.1px 11.6px -2.4px hsl(var(--shadow-color)/.3);
  max-width: 75ch;
  padding: 0 1rem;
  --shadow-color: 204deg 19% 67%;
}

.table-container {
  overflow-x: auto;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  margin: 1rem 0;
}

table td {
  border: 1px solid #e2e8f0;
  padding: 0.75rem 1rem;
  text-align: left;
}

table td:has(del) {
  background-color: rgb(128 128 128 / 50%);
  color: rgb(128 128 128);
  border-color: rgb(128 128 128);
}

.video-embed {
  display: flex;
  justify-content: center;
}

.video-embed iframe {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}