:root {
  --main-bg: #ebf4fa;
  --heading-link: #ff8900;
  --tagline: #017d19;
  --link: #0083fc;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('fonts/Silkscreen/Silkscreen-Bold.ttf') format('truetype');
  font-weight: bold;
}

html {
  background: var(--main-bg);
  height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 1rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

a {
  color: var(--link);
}
